{% extends 'base/base.html' %}

{% block title %}
Login Page
{% endblock title %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container col-5 my-4">
  <div class="card shadow p-3 mb-5 bg-white rounded">
    <h5 class="card-header text-center">Login</h5>
    <div class="card-body">
      <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-success">Done</button>
      </form>
    </div>
    <p class="mt-2 ml-4">Don't have account- <a href="{% url "users:signup_page" %}">Sign Up</a></p>
  </div>
</div>
{% endblock content %}