{% extends 'base/base.html' %}

{% load crispy_forms_tags %}

{% block title %}
{{ page_title }}
{% endblock title %}

{% block content %}
<div class="container col-6 my-4">
    <div class="card shadow p-3 mb-5 bg-white rounded">
        <h5 class="card-header text-center">Add {{ page_title }}</h5>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-success">Done</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}